body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    text-indent: 15px;
    background-image: linear-gradient(aqua, rgb(114, 219, 131));
}

a {
    text-decoration: none;
    color:crimson;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: darkgreen;
}