body {
    background-image: linear-gradient(darkgoldenrod, #fff);
    
}

.focim {
    text-align: center;
    background-color:lightblue;
    font-weight: bold;
    border: 1px solid #000;
}

.alcim {
    text-align: center;
    background-color: darkseagreen;
    border: 1px solid #000;
}

p {
    text-align: justify;
    text-indent: 15px;
    line-height: 1.5;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background-color: darkkhaki;
    margin-bottom: 7.5px;
    text-align: center;
    border: 1px solid #000;
}

a {
    color: maroon;
    text-decoration: none;
    font-weight: bold;
    padding: 1px 10px 2px 10px;
    background-color: sandybrown;
}

a:hover {
    color: purple;
    text-decoration: none;
    background-color: skyblue;
}

footer {
    background-color: lightblue;
    text-align: center;
    padding: 8px 0 8px 0;
    font-weight: bold;
    border: 1px solid #000;
}